.signoutButton {
  /* <a href="https://www.flaticon.com/free-icons/logout" title="logout icons">Logout icons created by Smashicons - Flaticon</a> */
  background-image: url("../../media/logout.png");
  background-position: center;
  height: 24px;
  width: 24px;
  padding: 0 !important;
}
